.vs
_build
_compiler
tools/*
*.d
*.o
*.so
*.swp
*.obj
imgui.ini
test/tracy_test
test/tracy_test.exe
*/build/unix/*-*
manual/t*.aux
manual/t*.log
manual/t*.out
manual/t*.pdf
manual/t*.synctex.gz
manual/t*.toc
manual/t*.bbl
manual/t*.blg
manual/t*.fdb_latexmk
manual/t*.fls
profiler/build/win32/packages
profiler/build/win32/Tracy.aps
.deps/
.dirstamp
/_*/**
/**/__pycache__/**
extra/vswhere.exe
extra/tracy-build
.cache
compile_commands.json
profiler/build/wasm/Tracy-release.*
profiler/build/wasm/Tracy-debug.*
profiler/build/wasm/embed.tracy

## Ignore Visual Studio temporary files, build results, and
.vs/

# VS Code files for those working on multiple tools
.vscode
/.vscode
/.vscode/*
/.vscode/**
**/.vscode/
*.code-workspace
**/*.code-workspace

/Tasks/

# Local History for Visual Studio Code
.history/

# Visual Studio ignores
**.sln

**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# XCode ignores
*.xcworkspace
*.xcodeproj
**/*.xcworkspace
**/*.xcodeproj

# Types
**.pdb
**.exp

# Binaries
/bin/
/bin-int/

# Other
make
**.make
Makefile

DS_Store
.DS_Store
**.DS_Store
*.DS_Store
**/.DS_Store
**/*.DS_Store